{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}AskNumbers{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <link rel="stylesheet" href={% static "style.css" %}>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
      <a class="navbar-brand" href="{%url 'index'%}">AskNumbers</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="COLOOOOORS" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask!</button>
        </form>
    </div>


    <div class="container avatar-container">
      <div class="col-3 ml-auto">
        <img class="avatar" src={% static "avatar.png" %} alt="">
      </div>
      <div>
        <div class="row">
          {% if user.is_authenticated %}
            <a href="#">{{user.username}}</a>
          {% else %}
            <a href="#">Mr. Zero</a>
         {% endif %}
        </div>

        <div class="row">
          {% if user.is_authenticated %}
          <div class="col col-np">
          <a href="{%url 'settings'%}">settigs</a>
          </div>

          <div class="col col-np">
          <a href="{%url 'logout'%}">logout</a>
          </div>
          {% else %}
          <div class="col col-np">
          <a href="{%url 'login'%}">log in</a>
          </div>

          <div class="col col-np">
          <a href="{%url 'signup'%}">signup</a>
          </div>
         {% endif %}


        </div>
      </div>

    </div>
  </nav>


  <div class="container ">
  <div class="row">
  <!-- For  Questions -->
  <div class="col-8 mt-3">
    {%block content%}
  	{%endblock%}

    {%block pagination%}
  	{%endblock%}
  </div>
  <!-- For  Tags -->
  <div class="col-3 mt-2">
    {%block sidebar%}
    {%endblock%}
  </div>
  </div>
</div>

  </body>
</html>
