{% extends "ask/base.html"%}
{% load static %}



{% block content %}
<div class="row question mt-3 mr-3">
  <div class="container">
    <div class="row mt-2">
    <div class="col-2">

      <div class="row">
      <img class="avatar mx-auto my-auto" src={% static "avatar.png" %} alt="">
      </div>
      <!-- WARNING: тут должны быть лайки -->
      <div class="row mt-3">
        <div class="center-text" style="  margin-left: auto;
          margin-right: auto;
          border: 1px solid black;
          padding: 0em 1.8em;">
          {{question.rating}}
        </div>
      </div>

      <div class="row mt-3">
      <div class="btn-group mx-auto my-auto">
        <button type="button" class="btn btn-secondary">+</button>
        <button type="button" class="btn btn-secondary">-</button>
      </div>
      </div>

    </div>

    <div class="col">
      <div class="row">
        <a href="{% url 'question' pk=question.pk}" class="h4">{{question.title}}</a>
      </div>

      <div class="row">
        <p>
          {{question.text}}
        </p>
      </div>

      <div class="row">
        <div class="col">
          <a href ="#">Answers: {{question.answer}}</a>
        </div>
        <div class="col">
          <span>Tags:</span>
          {% for tag in tags%}
          <a href="{% url 'tags'%}">{{question.tags}}</a>
          {% empty %}
          <p>No tags</p>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% for answer in answers %}
        <div class="row answer mt-3 mr-3">
          <div class="container">
            <div class="row mt-2">
              <div class="col-2">


                <div class="row">
                  <img class="avatar mx-auto my-auto" src={% static "avatar.png" %} alt="">
                </div>
                <!-- WARNING: тут должны быть лайки -->
                <div class="row mt-3">
                  <div class="center-text" style="  margin-left: auto;
                    margin-right: auto;
                    border: 1px solid black;
                    padding: 0em 1.8em;">
                    {{answer.rating}}
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="btn-group mx-auto my-auto">
                    <button type="button" class="btn btn-secondary">+</button>
                    <button type="button" class="btn btn-secondary">-</button>
                  </div>
                </div>

              </div>

              <div class="col">
                <div class="row">
                  <a href="#" class="h4">{{answer.title}}</a>
                </div>

                <div class="row">
                  <p>
                    {{answer.text}}
                  </p>
                </div>


              </div>

          </div>
        </div>
        </div>
{% endfor %}
        <div class="row mr-3 mt-3">

          <div class="row">
            <div class="col">
              {% if user.is_authenticated %}
              <form method="post">
              {% csrf_token %}
                <table>
                <tr>
                  <td>{{ form.title.label_tag }}</td>
                  <td>{{ form.title }}</td>
                </tr>

                <tr>
                  <td>{{ form.text.label_tag }}</td>
                  <td>{{ form.text }}</td>
                </tr>
                </table>

              <input type="submit" value="ANSWER" />
              <input type="hidden" name="next" value="{{ index }}" />
            </form>
            {% endif %}
            </div>
          </div>

        </div>
{% endblock %}

{% block sidebar %}

        <div class="row tags">
          <p class="mr-3 w-100 h2">Popular tags</p>
          <a class="mr-3 h4" href="#">Numbers</a>
          <a class="mr-3 h4" href="#">Algebra</a>
          <a class="mr-3 h4" href="#">Prime</a>
          <a class="mr-3 h4" href="#">Probability</a>
        </div>

        <div class="row tags">
          <p class="mr-3 h2">Best Members</p>
          <a class="mr-3 h4 w-100" href="#">Riemann</a>
          <a class="mr-3 h4 w-100" href="#">Fermat</a>
          <a class="mr-3 h4 w-100" href="#">Euler</a>
          <a class="mr-3 h4 w-100" href="#">Lagrange</a>
          <a class="mr-3 h4 w-100" href="#">Gauss</a>

        </div>

{% endblock %}
